/* commn styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* header section styles */
.header {
    background: url("../images/banner/banner1.png");
    width: 1600px;
}

.header-text {
    padding: 216px 230px 364px 845px;
}

.header-text h1 {
    color: var(--Dark-01, #151414);
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-text p {
    color: var(--Dark-02, #444343);
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 32px;
}

.header-text button {
    padding: 20px 25px;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
}

/* main section styles */

/* blog section styles */
#blogs .container {
    display: flex;
    align-items: center;
    gap: 134px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.right h2 {
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

.right p {
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.right .midule {
    margin: 24px 0 15px;
}

/* plan styles */
#my-plan {
    margin-top: 100px;
}

#my-plan .container h3 {
    text-align: center;
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

#my-plan .container .plan-part {
    display: flex;
    gap: 190px;
}

#my-plan .container .plan-part h4 {
    color: var(--Dark-01, #151414);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#my-plan .container .plan-part .images {
    text-align: center;
}

#my-plan .container .plan-part p {
    color: var(--Dark-03, #737272);
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 18px 0 16px;
}

/* watch style start */
#watch-part .container .watch-img {
    background: url("../images/watch.png");
    padding: 59px 617px 59px 64px;
    margin: 130px 0;
}

#watch-part .container .watch-img h2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

#watch-part .container .watch-img button {
    padding: 20px 36px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
}