/* commn styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* header section styles */
.header {
    background: url("../images/banner/banner1.png");
    width: 1600px;
}

.header-text {
    padding: 216px 230px 364px 845px;
}

.header-text h1 {
    color: var(--Dark-01, #151414);
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-text p {
    color: var(--Dark-02, #444343);
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 32px;
}

.header-text button {
    padding: 20px 25px;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
}

/* main section styles */

/* blog section styles */
#blogs .container {
    display: flex;
    align-items: center;
    gap: 134px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.right h2 {
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

.right p {
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.right .midule {
    margin: 24px 0 15px;
}

/* plan styles */
#my-plan {
    margin-top: 100px;
}

#my-plan .container h3 {
    text-align: center;
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#my-plan .container .plan-part {
    display: flex;
    gap: 205px;
}